!.gitignore
.svn

.DS_Store
Thumbs.db*
Temp
temp
tmp
*.log
*-del
del-*

### creator project ###
/build
/Classes
/library
/local
/packages
/temp
/*.ts

/.vscode/*
!/.vscode/tasks.json
/package-lock.json

/assets.pre/*/dist
/assets.pre/build
/assets.pre/snatch
/assets.pre/*.zip
/docs.pre

/Resources.build

### platform project ###
/proj.android
/proj.ios
/proj.win32
/proj.mac
/proj.wechat
